nav {
  background-color: #1c2b35;
  color: aliceblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
li a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
}
